/* @import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,200&family=Roboto&display=swap'); */

*{
    box-sizing: border-box;
}


body {
    background-color: #333;
    color: #222;
    overflow-x: hidden;
    margin-0;   

}

.container {
    background-color: #fafafa;
    transform-origin: top left;
    transition: transform 0.5s linear; 
    width: 100vw;
    min-height: 100vh;
    padding: 50px;

}


.container.show-nav {
    transform: rotate(-20deg);
}

.circle-container { 
    position: fixed;
    top: 200px;
    left: 200px;
}


.circle {
    background-color: rgb(191,51,37);
    height:-100px;
    width: -100px;
    border-radius: 50%;
    position: relative;
    transition: transform 0.5s linear;

}


.circle button {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 100px;
    background: transparent;
    border: 0;
    font-size: 26px;
    color: #fff;
}


.circle button:focus {
    outline: none;
}

.circle button#open{
    left: 60%;
}


.circle button#close {
    top: 60%;
    transform: rotate(90deg);
    transform-origin: top left;

}
.content img {
    max-width: 100%;
}

