@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

*{
    box-sizing: border-box;
}


body {
    background-color: azure;
    color: white;
    font-family: 'Muli','sans-serif';
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    padding: 10px;
    margin:0;   

}


h2 {
    margin: 10px 0 20px;
    text-align: center;
}

.container {
    background-color: #CAD5E2;
    color: black;
    border-radius: 10px;
    box-shadow: 0px 2px 10px rgba(255, 255, 255, 0.2);
    padding:  20px;
    width: 350px;
    max-width: 100%;
}

.result-container{
    background-color: azure;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    font-size: 18px;
    letter-spacing: 1px;
    padding: 12px 10px;
    height: 50px;
    width: 100%;
}


.result-container #result{
    word-wrap: break-word;
    max-width: calc(100% - 40px);
}

.result-container .btn {
    position: absolute;
    top: 5px;
    right: 5px;
    height: 40px;
    font-size: 20px;
}

.btn {
    border: none;
    border-radius: 20px;
    background-color: #5A20CB;
    color: #CAD5E2;
    font-size: 16px;
    padding: 8px 12px;
    cursor: pointer;
}

.btn-large{
    display: block;
    width: 100%;
}

.setting {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px 0;
}