@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,400&family=Poppins&display=swap');

*{
    box-sizing: border-box;
}


body {
    bgcolor: violet;
    font-family: 'Poppins','sans-serif';
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin-0;   

}