@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,200&family=Roboto&display=swap');

:root{
    --hover-width: 75%;
    --other-width:25%;

}

*{
    box-sizing: border-box;
}


body {
    font-family: 'Roboto','sans-serif';
    height: 100vh;
    overflow: hidden;
    margin-0;   

}

h1{
    font-size: 4rem;
    color: #fff;
    position: absolute;
    left: 50%;
    top: 20%;
    transformation: translateX(-50%);
    white-space: nowrap;
}

.btn{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 50%;
    top: 40%; translateX(-50%);
    text-decoration: none;
    color: #fff;
    border: white solid 0.2rem;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    width: 15rem;
    padding: 1.5rem
}

.split.left .btn:hover {
    background-color: #383CC1;
    border-color: #383CC1;

}

.split.right .btn:hover {
    background-color: green;
    border-color: green;

}

.container {
    position: relative;
    width: 100%;
    height: 100%;
    background: #333;
}

.split {
    position: absolute;
    width: 50%;
    height: 100%;
    overflow: hidden;
}


.split.left {
    left: 0;
    background: url('ps.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.split.left:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(87, 84, 236, 0.7);

}

.split.right {
    right: 0;
    background: url('xbox.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.split.right:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(43, 43, 43, 0.8);

}

.split.right, .split.left, .split.right::before, split.right::before {
    transition: all 1s ease-in-out;
}


.hover-left .left{

    width: var(--hover-width)

}

.hover-left .right{

    width: var(--other-width)

}




.hover-right .right{

    width: var(--hover-width)

}

.hover-right .left{

    width: var(--other-width)

}




media(max-width: 576px){

    h1{
        font-size: 2rem;
    }


    .btn {
        padding: 1.2rem;
        width: 12 rem;
    } 

}
