@tailwind base;
@tailwind components;
@tailwind utilities;


#cta {
    background-image: url('../images/bg-boost-desktop.svg');
    background-repeat: no-repeat;
    background-size: cover;
}